.single-mustread {
  .single-mustread-mobile {
    display: none;
  }
  .mustread-content {
    display: flex;

    .details {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
      .title {
        font-family: "Merriweather";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #292d32;
      }

      .author-date {
        margin-top: 20px;
        display: flex;
        font-family: "Lato";
        font-style: normal;

        .author {
          font-weight: 600;
          font-size: 11px;
          color: #141414;
        }

        .date {
          margin: 0 10px;
          font-weight: 700;
          font-size: 11px;
          color: #cdcdcd;
        }
      }
    }
  }
}
