.subscribe {
  height: 404px;
  background: #f1f1f1;

  .inner-subscribe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

    h1 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #080808;
    }
    p {
      font-family: "Merriweather";
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      color: #86878a;
    }

    .input-box {
      display: flex;
      height: 48px;

      .input {
        width: 647px;
        max-width: 500px;
        background: #e8e8e8;
        height: 100%;
        border: none;
        padding: 14px 10px;

        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
      }

      button {
        padding: 14px 15px;
        width: 85px;
        height: 100%;
        background: #080808;
        border-radius: 0px 5px 5px 0px;
        border: none;
        cursor: pointer;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #ffffff;
      }
    }
  }
}
