.nfts-defi {
  display: grid;
  grid-template-columns: 65% 3% 32%;
  font-family: "Merriweather";
  font-style: normal;
  // height: 500px;

  .left-defi {
    margin: 40px 0;
    display: flex;
    gap: 10px;

    .left-inner-content {
      flex: 1;
      .title {
        font-family: "Merriweather";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #606060;
      }

      .excerpts {
        font-family: "Merriweather";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #9f9f9f;
      }

      .author {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        color: #141414;
      }
    }

    .right-inner-content {
      flex: 2;
      img {
        height: 384px;
        width: 100%;
      }
    }
  }

  .right-defi {
    .title {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      color: #141414;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 960px) {
  .nfts-defi {
    display: none;
  }
}
